<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h1>Pelis</h1>
      </div>
      <div class="menu col-10">
        <nav>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" [routerLink]="['/home']" routerLinkActive="activo">Home</a></li>
            <li class="list-inline-item"><a href="#" [routerLink]="['/peliculas']"
                routerLinkActive="activo">Películas</a></li>
            <li class="list-inline-item"><a href="#" [routerLink]="['/nueva-pelicula']" routerLinkActive="activo">Nueva
                película</a></li>
            <li class="list-inline-item"><a href="#" [routerLink]="['/resumen']" routerLinkActive="activo">Resumen</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
