.header {
  background-color: #d5c7bc;
}
.header .row > * {
  display: flex;
  align-items: center;
  height: 100px;
}
.header .menu {
  justify-content: flex-end;
}
.header .menu a {
  color: #212529;
}
main {
  padding-top: 50px;
}
nav .activo {
  font-weight: bold;
}
